
.container-about {
    display: flex;
    max-width: 1920px;
    width: 100%;
    min-height: 100vh; 
}

.card-about {
    max-width: 700px;
    width: 100%;
    min-height: 700px;
    padding: 1rem;
    letter-spacing: 1px;
    line-height: 150%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.card-title {
    font-family: 'Abril Fatface';
}

.card-subtitle {
    font-family: 'Abril Fatface';
    padding-top: 10px;
}

.info-about {
    padding-top: 20px;
}

.list-group-item {
    min-height: 150px;
    max-width: 700px; 
    width: 100%;
}

.team-images {
    border-radius: 50%;
    padding: 10px; 
}

.team-description {
    padding-top: 10px;
}
