
.navbar {
    max-width: 1920px;
    width: 100%;
    align-items: center;
    font-family: 'Abril Fatface';
    margin-bottom: 2rem;

    &-brand {
        transform: translateX(2rem);
    }

    .nav-link {
        transform: translatex(-1rem);
    }
}

.nav > li > a:focus, 
.nav > li > a:hover 
{
    text-decoration: underline;
    background-color: pink;
}