.container {
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.col-md-auto {
    max-width: 500px;
}

img {
    width: 400px; 
    overflow: hidden;
}