//why can't I center the page content? Google has not helped. Can't center in body or main. 

body {
    margin: 0 auto; 
    max-width: 1920px;
    min-height: 100vh; /*why is the footer further down?*/
}

.container {
    margin: 10px;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: bold;

    &:hover {
        color: rgb(248, 114, 136);
    }
}