.navbar {
  max-width: 1920px;
  width: 100%;
  align-items: center;
  font-family: "Abril Fatface";
  margin-bottom: 2rem;
}
.navbar-brand {
  transform: translateX(2rem);
}
.navbar .nav-link {
  transform: translatex(-1rem);
}

body {
  margin: 0 auto;
  max-width: 1920px;
}

.container {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.col-md-auto {
  max-width: 500px;
}

img {
  width: 400px;
  overflow: hidden;
}